  h3
  {
    font-size: 25px !important;
  }
  canvas {
    border:2px dashed black;
  }

  .botoes{
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  #mascaraimg{
    text-align: center;
  }

  #fundobot{
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    text-align: center;
  }